@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: $font-family;
  font-display: swap;
  src:
    local("Gilroy-Light"),
    url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: $font-family;
  font-display: swap;
  src:
    local("Gilroy-ExtraBold"),
    url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}
