.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 320px;
  overflow-y: auto;
  font-size: inherit;
  line-height: 1.29;
  color: $color-text;
  text-align: center;
  letter-spacing: 0.05em;
  background-color: $color-body;

  @media (min-width: $screen-md) {
    background-color: rgba($color-black, 0.58);
  }

  &--active {
    display: block;
  }
}

.modal .btn {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-size: inherit;

  @media (min-width: $screen-xl) {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.modal .form__group {
  margin-bottom: 1.2em;

  @media (min-width: $screen-xl) {
    margin-bottom: 0.8em;
  }
}

.modal .field-text__input {
  font-size: inherit;

  @media (min-width: $screen-md) {
    height: px-to-rem(70);
  }
}

.modal__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: px-to-rem(30) px-to-rem(15);
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal__content {
  position: relative;
  width: 100%;
  padding-top: px-to-rem(30);
  padding-bottom: px-to-rem(30);
  background-color: $color-body;

  @media (min-width: $screen-md) {
    max-width: px-to-rem(560);
    padding: px-to-rem(50) px-to-rem(30);
  }

  @media (min-width: $screen-xl) {
    max-width: px-to-rem(650);
    padding-top: px-to-rem(115);
    padding-bottom: px-to-rem(140);
  }
}

.modal__title {
  text-align: center;

  @media (min-width: $screen-xl) {
    margin-bottom: 0.5em;
    font-size: px-to-rem(34);
  }
}

.modal__text {
  margin: 0 0 1.4em;

  @media (min-width: $screen-xl) {
    margin-bottom: 1.2em;
  }
}

.modal__form {
  width: 100%;

  @media (min-width: $screen-md) {
    max-width: px-to-rem(370);
    margin: 0 auto;
  }
}

.modal__close {
  position: absolute;
  top: px-to-rem(-30);
  right: px-to-rem(-10);
  width: px-to-rem(50);
  height: px-to-rem(50);

  @media (min-width: $screen-md) {
    top: 0;
    right: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: px-to-rem(20);
    height: 1px;
    background-color: $color-black;
    transform-origin: 50% 50%;
  }

  &::before {
    transform: translateX(-50%) rotate3d(0, 0, 1, 50deg);
  }

  &::after {
    transform: translateX(-50%) rotate3d(0, 0, 1, -50deg);
  }
}
