.problems {
  padding-top: px-to-rem(80);
  padding-bottom: px-to-rem(95);
  background: url("../img/bg/bg-problems.svg") center/cover no-repeat;
}

.problems__title {
  position: relative;
  max-width: 8.33em;
  margin: 0 auto 2.18em;

  &::after {
    content: "?";
    position: absolute;
    top: -0.23em;
    right: -0.26em;
    font-size: 8em;
    line-height: 1;
    opacity: 0.1;
  }
}

.problems__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.problems__item {
  &:last-child {
    margin-top: px-to-rem(46);
  }

  &:not(:last-child) {
    margin-bottom: px-to-rem(35);
  }
}
