.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links__item {
  &:not(:last-child) {
    margin-right: px-to-rem(22);

    @media (min-width: $screen-md) {
      margin-right: px-to-rem(12);
    }

    @media (min-width: $screen-xl) {
      margin-right: px-to-rem(8);
    }
  }
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: px-to-rem(40);
  height: px-to-rem(40);
}

.social-links__link:active svg {
  fill-opacity: 0.5;
}

.social-links__link svg {
  fill-opacity: 0.18;
}
