.teachers__inner {
  position: relative;
  padding-top: px-to-rem(60);
  padding-bottom: px-to-rem(15);

  @media (min-width: $screen-md) {
    position: relative;
    padding-top: px-to-rem(78);
    padding-bottom: px-to-rem(40);
  }

  @media (min-width: $screen-xl) {
    padding-top: px-to-rem(90);
    padding-bottom: px-to-rem(80);
  }
}

.teachers__title {
  @media (min-width: $screen-md) {
    margin-bottom: 1.66em;
  }

  @media (max-width: $screen-md - 1) {
    font-size: px-to-rem(30);
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 1em;
  }
}

.teachers__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $screen-md) {
    @include make-row();
  }

  @media (min-width: $screen-xl) {
    position: relative;
  }

  &::before {
    @media (min-width: $screen-xl) {
      content: "";
      position: absolute;
      top: px-to-rem(170);
      right: calc(#{$grid-gutter-width} / 2);
      display: block;
      width: calc(50vw + 100% / 2 - calc(#{$grid-gutter-width} / 2));
      height: 2px;
      background-color: #e9e9e9;
    }
  }

  &::after {
    @media (min-width: $screen-xl) {
      content: "";
      position: absolute;
      top: px-to-rem(170);
      left: px-to-rem(-133);
      display: block;
      width: px-to-rem(23);
      height: px-to-rem(23);
      background-color: $color-decor;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }
}

.teachers__item {
  @media (min-width: $screen-md) {
    @include make-col-ready();
    @include make-col(6);
  }

  @media (min-width: $screen-xl) {
    @include make-col(4);
  }

  &:not(:last-child) {
    margin-bottom: 3em;

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }
}

.teachers__decors {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;

  @media (min-width: $screen-md) {
    display: block;
  }
}

.teachers__decor {
  position: absolute;
  z-index: 1;
  display: block;

  &--blue {
    fill: $color-decor;
  }

  &--gray {
    fill: #f5f5f5;
  }

  &--waves {
    right: px-to-rem(-20);
    bottom: px-to-rem(315);
    z-index: 2;
    width: px-to-rem(66);
    height: px-to-rem(34);

    @media (min-width: $screen-xl) {
      top: px-to-rem(345);
      right: px-to-rem(-235);
      bottom: auto;
    }
  }

  &--circle {
    bottom: px-to-rem(130);
    left: calc(100% - #{px-to-rem(20)});
    width: px-to-rem(434);
    height: px-to-rem(434);

    @media (min-width: $screen-xl) {
      top: px-to-rem(45);
      bottom: auto;
      left: calc(100% - #{px-to-rem(200)});
    }
  }
}

.teachers__decor svg {
  display: block;
  width: 100%;
  height: 100%;
}
